//  screen and

@media (max-width:992px) {

    // 
    #container {
        width: 100vw;
    }





    // 
    .ContainerNav {
        width: 80%;
        height: 40px;
        display: flex;

    }

    #navBarLinks {
        display: none;
    }

    #MenuToggle {
        display: none;
    }

    #hamburger {
        display: block;
        border-radius: 10px;
    }

    .links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: white;
        width: 100vw;
        height: 25%;
        margin-top: 20em;
        margin-left: -14em;
    }

    input[type="checkbox"]:checked~#navBarLinks {
        display: block;

    }



    // 
    header {
        width: 80vw;
        height: 60vh;
    }

    .ContainerTitle {

        padding: 15px;
        position: relative;
        margin: 3em 3em;
        line-height: 2.4;
        width: 80%;

    }

    .text h1 {
        width: 80vw;
        margin-left: -60px;
        font-weight: bold;
        font-size: 1.6rem;
        color: $textColor;
        line-height: 2;

    }

    .text p1 {
        width: 80vw;
        font-size: 0.8rem;
        line-height: 2;
    }





    // 
    article {
        width: 80%;
        padding: 15px;
        margin: 0 auto;
    }

    .ImgArticle {
        width: 100vw;
        width: 28px;
        height: 28px;
        border-radius: 50px;
        margin: 0.2em;
    }






    //     .ImgHtmlCss>img {
    //     width: 8vw;
    //     height: 8vw;
    //     border-radius: 50px;
    //     margin: 1em;
    // }
    .ContainerZiv {
        width: 70%;
        padding: 10px;
        margin: 0 auto;
    }

    .text h2 {
        font-size: 1.4rem;
    }

    .text p2 {
        font-size: 0.6rem;
    }

    .ContainerTitleZiv {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 70vw;
        padding: 10px;
        line-height: 2;
    }




    .ContainerButton {
        width: 70%;
        background-color: rgb(248, 248, 245);
        box-shadow: 0.5vw 0.5vw 1vw rgb(248, 248, 245);
        padding: 10px;
    }

    .resumes {
        width: 100%;
        height: 3.5vw;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        color: white;
        background-color: black;
        border: white;
        font-size: 0.5rem;
        font-family: 'Times New Roman', Times, serif;
        box-shadow: 1vw 1vw 2vw black;
        margin: 0.5em;
        cursor: pointer;
        padding: 0.5em;
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .resumes:hover {
        color: rgb(34, 87, 193);
    }





    // 
    #SectionCard {
        width: 70vw;
    }

    .SelectedWorks {
        width: 70vw;
    }

    .text h4 {
        font-size: 1.3rem;
    }

    .text p4 {
        font-size: 0.6rem;
        line-height: 2;
    }

    .ImgHtmlCss>img {
        width: 10vw;
        height: 10vw;
        border-radius: 50px;
        margin: 1em;
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .card1 {
        background-image: url(../ImgIndex/מתי\ לאחרונה\ טסתם\ לטיול\ בחול\ .png);
        height: 40%;
        width: 100%;
        background-position: fill;
        background-size: cover;
        border-radius: 15px 15px 0 0;
    }

    .card2 {
        background-image: url(../ImgIndex/אנחנו\ מזמינים\ אותכם\ לתערוכה\ שלנו\ .png);
        height: 40%;
        width: 100%;
        border-radius: 15px 15px 0 0;
        background-position: fill;
        background-size: cover;
    }

    .card3 {
        background-image: url(../ImgIndex/coffee.png);
        height: 40%;
        width: 100%;
        border-radius: 15px 15px 0 0;
        background-position: fill;
        background-size: cover;
    }

    .card4 {
        background-image: url(../ImgIndex/גם\ לכם\ מגיע\ להתחדש\ בטלפון\ חדש.png);
        height: 40%;
        width: 100%;
        border-radius: 15px 15px 0 0;
        background-position: fill;
        background-size: cover;
    }

    .card5 {
        background-image: url(../ImgIndex/עותק\ של\ מכאן\ ניתן\ להגיעה\ אלינו.png);
        height: 40%;
        width: 100%;
        border-radius: 15px 15px 0 0;
        background-position: fill;
        background-size: cover;
    }

    .card6 {
        background-image: url(../ImgIndex/עותק\ של\ שרותי\ אחריות\ אצלנו\ הם\ לשלוש\ שנים\ 2.png);
        height: 40%;
        width: 100%;
        border-radius: 15px 15px 0 0;
        background-position: fill;
        background-size: cover;
    }

    .card7 {
        background-image: url(../ImgIndex/לחשוב\ מחוץ\ לקופסה.png);
        height: 40%;
        width: 100%;
        border-radius: 15px 15px 0 0;
        background-position: fill;
        background-size: cover;
    }





    // 
    .DivForm {
        display: flex;
        flex-direction: column;
    }

    .ContainerForm {
        width: 60vw;
        height: 200vw;
        text-align: right;
        margin-left: -6.5em;
        margin-top: 2em;
        padding: 15px;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .resumes {
        width: 40vw;
        height: 13.5vw;
        font-size: 0.8rem;
        border: 2px solid black;
        box-shadow: 1vw 1vw 2vw black;
    }

    input {
        width: 200px;
        height: 20px;
    }

    textarea {
        width: 200px;
        height: 100px;
    }



    .text p5 {
        font-size: 0.5rem;
    }


    .text h5 {
        font-size: 1rem;
    }





    // 
    .ContainerAside {
        width: 10%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        display: block;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        padding: 10px;
        line-height: 2;
    }

    .img_aside {
        width: 20px;
        height: 20px;
    }

    .Imgs_simple-whatsapp {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .Img_linkedin-in {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .Img_facebook-f {
        flex-wrap: wrap;
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .Img_location-on {
        grid-column: 4/5;
        grid-row: 1/2;
    }

    .Img_simple-email {
        grid-column: 5/6;
        grid-row: 1/2;
    }

    .Imgwhatsapp {
        grid-column: 6/7;
        grid-row: 1/2;
    }

    .DivAside {
        width: 20%;
        font-size: 0.5rem;
    }




    // 
    .text h6 {
        font-size: 0.3rem;
    }

    .text p6 {
        font-size: 0.3rem;
    }

}