#SecrionOnZiv {
    width: 80%;
}




// 
.ContainerZiv {
    padding: 100px;
    line-height: 3;
    width: 70vw;
    margin: 0 auto;
    background-color: rgb(248, 248, 245);
    box-shadow: 0.5vw 0.5vw 1vw rgb(248, 248, 245);
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

.ContainerZiv>div>img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border-top: 10px solid wheat;
    border-bottom: 10px solid wheat;
}

.ContainerZiv>div>img:hover {
    scale: 1.05;
}




// 
.ContainerTitleZiv {
    display: flex;
    flex-direction: row;
    background-color: rgb(248, 248, 245);
    box-shadow: 0.5vw 0.5vw 1vw rgb(248, 248, 245);
    margin: 0 auto;
    width: 70vw;
    padding: 100px;
    line-height: 3;
}

.text h2 {
    color: wheat;
    font-size: 3rem;
}

.text p2 {
    font-size: 1.2rem;
    color: black;
    line-height: 3;
}

.resumes:hover {
    color: rgb(34, 87, 193);
}

.ContainerButton {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(248, 248, 245);
    box-shadow: 0.5vw 0.5vw 1vw rgb(248, 248, 245);
    padding: 100px;
}

.resumes {
    width: 30%;
    height: 3.5vw;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    background-color: black;
    border: white;
    border: white;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 1vw 1vw 2vw black;
    margin: 0.5em;
    cursor: pointer;
    padding: 0.5em;
}

.resumes:hover {
    scale: 1.05;
}